---
title: Alt om GDPR
---

<div>
  <h1>Udbydere af eksterne databeskyttelsesrådgivere 
  </br>
  (DPO-as-a-service)
  </h1>

  <p>
    Dette er en liste over samtlige danske udbydere af DPO-as-a-service tjenester. 
  </p>

  <ul>
    <li><a href="https://wwww.bechbruun.dk">Bech-Bruun - advokatfirma</a></li>
    <li><a href="https://www.hjulmandkaptain.dk/offentlig/persondata/databeskyttelsesraadgiver/">Hjulmand-Kaptain - advokatfirma</a></li>
    <li><a href="https://www.revi-it.dk/dpo-service-ekstern-dpo">REVI-IT - Revisorfirma - www.revi-it.dk/dpo-service-ekstern-dpo</a></li>
    <li><a href="https://persondatakonsulenterne.dk/gdpr-services/ekstern-dpo/">Persondatakonsulenterne - konsulentfirma</a></li>
    <li><a href="https://www.dahllaw.dk/client-services/15/ekstern-data-protection-officer/">DAHL Advokatfirma - advokatfirma</a></li>
    <li><a href="https://www.carve.dk/dpo-as-a-service/">Carve Consulting - konsulentfirma </a></li>
    <li><a href="https://persondatasupport.as/solutions/dpo">Persondatasupport - konsulentfirma </a></li>
    <li><a href="https://www.pwc.dk/da/services/consulting/cyber-og-privacy/privacy-og-data-compliance/lej-en-data-protection-officer.html">PwC Denmark - konsulentfirma</a></li>
    <li><a href="https://recompli.dk/dpo-service/">ReCompli ApS - konsulentfirma</a></li>
    <li><a href="https://www.dpoteam.dk/dpo/">DPO TEAM - konsulentfirma - København</a></li>
    <li><a href="https://lundgrens.dk/persondataret">Lundgrens - advokatfirma</a></li>
  </ul>

</div>